{# Plantilla base para heredar head con estilos #}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>El Crisol</title>
	<link rel="stylesheet" href="{{ '/sass/style.css' | url }}" />
	<script defer src="/js/Swup.umd.js"></script>
	<script defer type="module" src="/js/main.js"></script>
</head>
	{{ content | safe }}
</html>