:root
*
    background: var(--backgroundColor)
    color: var(--textColor)
    font-family: $akRegular
    box-sizing: border-box
    scrollbar-width: 5px
    scrollbar-color: var(--textColor) #f1f1f100
    ::selection
        background: var(--textColor)
        color: var(--backgroundColor)

body
    display: flex
    flex-direction: column
    align-items: center
    min-height: 100vh
    flex: 1

h1
    font-family: $victorMonoBold
    font-size: 2.2em

h2,h3,h4
    margin-top: 1em

h2
    font-size: 2em

h3
    font-size: 1.8em

h4 
    font-size: 1.6em

a
    color: none

p
    font-size: 1.5em
    max-width: 60ch
    margin-top: .5em

ol
    font-size: 1.5em
    max-width: 60ch
    padding-left: 2em
    & li
        padding: .5em 0

ul
    font-size: 1.5em
    max-width: 60ch
    padding-left: 2em
    & li
        padding: .5em 0

img
    border: solid 2px var(--textColor)
    width: 100%

::-webkit-scrollbar 
    display: none

pre
    margin-top: 1em
    padding: 1em
    font-size: 1em
    border-radius: 8px
    overflow-x: scroll

code
    font-family: $code

/* Estilo para Chrome, Safari y Opera */
::-webkit-scrollbar 
    width: 2px


::-webkit-scrollbar-track 
    background: #f1f1f1


::-webkit-scrollbar-thumb 
    background: var(--textColor)


::-webkit-scrollbar-thumb:hover
    background: #555
