:root

*
    background: var(--backgroundColor)
    color: var(--textColor)
    font-family: $akRegular
    box-sizing: border-box
    ::selection
        background: var(--textColor)
        color: var(--backgroundColor)

body
    display: flex
    flex-direction: column
    align-items: center
    min-height: 100vh
    flex: 1

h1
    font-family: $victorMonoBold
    font-size: 2.2em

h2,h3,h4
    padding: .5em .5em .5em 0

h2
    font-size: 2em

h3
    font-size: 1.8em

h4 
    font-size: 1.6em

a
    color: none

p
    font-size: 1.5em
    max-width: 60ch
    padding: 0 .5em .5em 0

ol
    font-size: 1.5em
    max-width: 60ch
    padding-left: 2em
    & li
        padding: .5em 0

ul
    font-size: 1.5em
    max-width: 60ch
    padding-left: 2em
    & li
        padding: .5em 0

img
    border: solid 2px var(--textColor)
    width: 100%

::-webkit-scrollbar 
    display: none